@font-face {
  font-family: "Cambria";
  src: url("src/Cambria.ttc") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  gap: 10px;
}

* {
  color: #c45912;
  box-sizing: border-box;
  font-family: Cambria;
  text-align: center;
}

*:hover {
  text-emphasis: bold;
}

#header {
  width: 100%;
  position: relative;
}

#emoticon {
  color: white;
  font-size: 3.5vw;
  position: absolute;
  left: 42.5%;
  top: 40%;
  rotate: -20deg;
}

img {
  width: 100%;
  border-radius: 30px;
  object-fit: contain;
}

img#banner:hover {
  cursor: pointer;
}

div#pfpCont {
  flex: 1 1 auto;
  width: 50%;
  display: flex;
}

div#content {
  display: flex;
  align-items: center;
  gap: 10px;
}

div#list {
  display: grid;
  gap: 10px;
  flex: 1 1 auto;
  width: 50%;
}

h1 {
  margin: 0;
}

a,
p {
  font-size: large;
}

div#grid {
  display: grid;
  gap: 10px;
}

footer p {
  text-align: justify;
}
