@font-face {
  font-family: "Cambria";
  src: url("fonts/Cambria.ttc") format("truetype");
}

* {
  box-sizing:border-box;
  margin: 0;
  gap: 20px;
  color: #c45912;
  box-sizing: border-box;
  font-family: Cambria;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

body > *, body img {
  max-width: 720px;
}

#header {
  width: 100%;
  position: relative;
  display: flex;
}

#emoticon {
  color: white;
  font-size: min(3.5vw, 30q);
  position: absolute;
  left: 42.5%;
  top: 40%;
  rotate: -20deg;
}

#title {
  font-size: min(7vw, 60q);
  position: absolute;
  top: 22%;
  left: 20px;
  width: 150px;
  mix-blend-mode: multiply;
}

img {
  width: 100%;
  border-radius: 30px;
  object-fit: contain;
}

img#banner:hover {
  cursor: pointer;
}

div#pfpCont {
  flex: 1 1 auto;
  width: 50%;
  display: flex;
}

div#content {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

div#list {
  display: grid;
  gap: 10px;
  flex: 1 1 auto;
  width: 50%;
}

h1 {
  margin: 0;
}

a,
p {
  font-size: min(3.5vw, 30q);
}

a {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  justify-content: center;
  border: 2px solid tan;
}

a > i {
  font-size:calc( min(3.5vw, 30q) / 30 * 95);
  object-fit: contain;
}

i::after {
  display: hidden;
}

div#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
}

footer p {
  text-align: left;
}
